*{margin: 0;padding: 0;}

#container {
	height: 100%;
	width: 100%;
	overflow-x: scroll;
	min-height: 600px;
}

#thumbs {
	background-color: #646464;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: auto;
	white-space: nowrap;
	padding: 0px 300px;
	background-image: url(../img/bg.jpg);
	background-size: auto 100%;
	min-height: 650px;

}

#thumbs div {
	width: 200px;
	margin: 8% 250px 0px 250px;
	display: inline-block;
}

#thumbs img {
	height: auto;
	width: 200px;
	/*box-shadow: 0px 1px 35px rgb(255, 255, 255), 0 0 64px #C6C6FF, 0 0 30px #c6c6ff;*/
	box-shadow: 0 18px 40px 0 #000, 10px 0px 30px 0px rgba(255, 255, 255, 0.5), 0px -10px 30px 0px rgba(255, 255, 255, 0.5), -10px 0px 30px 0px rgba(255, 255, 255, 0.5);
}

#thumbs img:hover {
	height: auto;
	width: 200px;
	transition: all 0.5s ease-in-out 0s;
}

#logo {
    margin: 0px auto 0px auto;
    position: relative;
    display: block;
    width: 130px;
}

#head {
    margin: 45px auto 0px auto;
    position: relative;
    display: block;
    z-index: 1;
    opacity: 0.5;
    color: #fff;
    width: 370px;
    text-align: center;
}

p{
	margin-top: 30px;
  	font-family: 'Open Sans', sans-serif;
}

#titre {
	position: fixed;
	text-align: center;
  	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	color: #cccccc;
	z-index: 1;
}

#tsb-spot {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/spotlight.png) center;
}
